Repository diceroll123/pymermaider: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-clippy, cargo-fmt, web-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-clippy
        name: Run cargo clippy
        entry: cargo clippy --fix --allow-staged
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd web && npm ci && npm run lint'
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

Add --no-title flag to omit diagram titles (and restructure args internals)
  CHANGELOG.md
  README.md
  src/args.rs
  src/main.rs
  src/mermaider.rs
Due: cargo-clippy, cargo-fmt

Refactor and extend Mermaider tests
  src/mermaider.rs
Due: cargo-clippy, cargo-fmt

Add --no-title flag to omit diagram titles (and restructure args internals) (#197)
  CHANGELOG.md
  README.md
  src/args.rs
  src/main.rs
  src/mermaider.rs
Due: cargo-clippy, cargo-fmt

Add package metadata to Cargo.toml
  Cargo.toml
Due: none

[web] fix mermaid highlighting
  web/components/diagram/MermaidCodeView.tsx
Due: web-lint

Add package metadata to Cargo.toml (#216)
  Cargo.toml
Due: none

[web] fix mermaid highlighting (#218)
  web/components/diagram/MermaidCodeView.tsx
Due: web-lint

[web] tweak wasm setup
  .github/workflows/deploy-web.yml
  .justfile
  Cargo.toml
  src/args.rs
  src/main.rs
  src/mermaider.rs
  web/components/diagram/hooks/useWasm.ts
  web/package-lock.json
  web/package.json
Due: cargo-clippy, cargo-fmt, web-lint

[web] tweak wasm setup (#217)
  .github/workflows/deploy-web.yml
  .justfile
  Cargo.toml
  src/args.rs
  src/main.rs
  src/mermaider.rs
  web/components/diagram/hooks/useWasm.ts
  web/package-lock.json
  web/package.json
Due: cargo-clippy, cargo-fmt, web-lint

Add file explorer and GitHub repo loader to DiagramEditor
  web/app/globals.css
  web/app/page.tsx
  web/components/DiagramEditor.tsx
  web/components/diagram/FileExplorer.tsx
  web/components/diagram/RepoLoader.tsx
  web/components/diagram/hooks/useFileSystem.ts
  web/components/diagram/hooks/useGitHubRepo.ts
  web/components/diagram/hooks/useResizablePanel.ts
  web/components/diagram/index.ts
  web/components/diagram/types.ts
Due: web-lint

Update RepoLoader.tsx
  web/components/diagram/RepoLoader.tsx
Due: web-lint

Update page.tsx
  web/app/page.tsx
Due: web-lint

tweaks
  web/components/diagram/FileExplorer.tsx
  web/components/diagram/hooks/useFileSystem.ts
  web/components/diagram/hooks/useGitHubRepo.ts
Due: web-lint

[web] Add file explorer and GitHub repo loader to DiagramEditor (#219)
  web/app/globals.css
  web/app/page.tsx
  web/components/DiagramEditor.tsx
  web/components/diagram/FileExplorer.tsx
  web/components/diagram/RepoLoader.tsx
  web/components/diagram/hooks/useFileSystem.ts
  web/components/diagram/hooks/useGitHubRepo.ts
  web/components/diagram/hooks/useResizablePanel.ts
  web/components/diagram/index.ts
  web/components/diagram/types.ts
Due: web-lint

[web] Add diagram direction setting to playground
  src/lib.rs
  web/components/DiagramEditor.tsx
  web/components/diagram/hooks/useMermaid.ts
  web/components/diagram/types.ts
Due: cargo-clippy, cargo-fmt, web-lint

[web] Add diagram direction setting to playground (#220)
  src/lib.rs
  web/components/DiagramEditor.tsx
  web/components/diagram/hooks/useMermaid.ts
  web/components/diagram/types.ts
Due: cargo-clippy, cargo-fmt, web-lint

[web] fix nested scrolling in explorer
  web/components/diagram/FileExplorer.tsx
Due: web-lint

Add PR preview deployment to workflow
  .github/workflows/deploy-web.yml
  .github/workflows/test-pr.yml
Due: none

Deploy preview for PR 221 🛫
  pr-preview/pr-221/404.html
  pr-preview/pr-221/__next.__PAGE__.txt
  pr-preview/pr-221/__next._full.txt
  pr-preview/pr-221/__next._head.txt
  pr-preview/pr-221/__next._index.txt
  pr-preview/pr-221/__next._tree.txt
  pr-preview/pr-221/_next/static/vjPjuHmh3sXzF3k9uzJFo/_buildManifest.js
  pr-preview/pr-221/_next/static/vjPjuHmh3sXzF3k9uzJFo/_clientMiddlewareManifest.json
  pr-preview/pr-221/_next/static/vjPjuHmh3sXzF3k9uzJFo/_ssgManifest.js
  pr-preview/pr-221/_not-found.html
  pr-preview/pr-221/_not-found.txt
  pr-preview/pr-221/_not-found/__next._full.txt
  pr-preview/pr-221/_not-found/__next._head.txt
  pr-preview/pr-221/_not-found/__next._index.txt
  pr-preview/pr-221/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-221/_not-found/__next._not-found.txt
  pr-preview/pr-221/_not-found/__next._tree.txt
  pr-preview/pr-221/index.html
  pr-preview/pr-221/index.txt
Due: web-lint

Add .nojekyll to disable Jekyll processing
  .nojekyll
Due: none

Deploy preview for PR 221 🛫
  pr-preview/pr-221/404.html
  pr-preview/pr-221/__next.__PAGE__.txt
  pr-preview/pr-221/__next._full.txt
  pr-preview/pr-221/__next._head.txt
  pr-preview/pr-221/__next._index.txt
  pr-preview/pr-221/__next._tree.txt
  pr-preview/pr-221/_next/static/nqoI3OF3wCG1EXfbcSpC0/_buildManifest.js
  pr-preview/pr-221/_next/static/nqoI3OF3wCG1EXfbcSpC0/_clientMiddlewareManifest.json
  pr-preview/pr-221/_next/static/nqoI3OF3wCG1EXfbcSpC0/_ssgManifest.js
  pr-preview/pr-221/_not-found.html
  pr-preview/pr-221/_not-found.txt
  pr-preview/pr-221/_not-found/__next._full.txt
  pr-preview/pr-221/_not-found/__next._head.txt
  pr-preview/pr-221/_not-found/__next._index.txt
  pr-preview/pr-221/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-221/_not-found/__next._not-found.txt
  pr-preview/pr-221/_not-found/__next._tree.txt
  pr-preview/pr-221/index.html
  pr-preview/pr-221/index.txt
Due: web-lint

debug: list out folder contents
  .github/workflows/test-pr.yml
Due: none

Deploy preview for PR 221 🛫
  pr-preview/pr-221/404.html
  pr-preview/pr-221/__next.__PAGE__.txt
  pr-preview/pr-221/__next._full.txt
  pr-preview/pr-221/__next._head.txt
  pr-preview/pr-221/__next._index.txt
  pr-preview/pr-221/__next._tree.txt
  pr-preview/pr-221/_next/static/1BD1r0eqbuttzOBlQkdbl/_buildManifest.js
  pr-preview/pr-221/_next/static/1BD1r0eqbuttzOBlQkdbl/_clientMiddlewareManifest.json
  pr-preview/pr-221/_next/static/1BD1r0eqbuttzOBlQkdbl/_ssgManifest.js
  pr-preview/pr-221/_not-found.html
  pr-preview/pr-221/_not-found.txt
  pr-preview/pr-221/_not-found/__next._full.txt
  pr-preview/pr-221/_not-found/__next._head.txt
  pr-preview/pr-221/_not-found/__next._index.txt
  pr-preview/pr-221/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-221/_not-found/__next._not-found.txt
  pr-preview/pr-221/_not-found/__next._tree.txt
  pr-preview/pr-221/index.html
  pr-preview/pr-221/index.txt
Due: web-lint

fix: remove wasm-pack .gitignore before deploy
  .github/workflows/deploy-web.yml
  .github/workflows/test-pr.yml
Due: none

Deploy preview for PR 221 🛫
  pr-preview/pr-221/404.html
  pr-preview/pr-221/__next.__PAGE__.txt
  pr-preview/pr-221/__next._full.txt
  pr-preview/pr-221/__next._head.txt
  pr-preview/pr-221/__next._index.txt
  pr-preview/pr-221/__next._tree.txt
  pr-preview/pr-221/_next/static/llRdxdQRkJ3W_4gIQhXxP/_buildManifest.js
  pr-preview/pr-221/_next/static/llRdxdQRkJ3W_4gIQhXxP/_clientMiddlewareManifest.json
  pr-preview/pr-221/_next/static/llRdxdQRkJ3W_4gIQhXxP/_ssgManifest.js
  pr-preview/pr-221/_not-found.html
  pr-preview/pr-221/_not-found.txt
  pr-preview/pr-221/_not-found/__next._full.txt
  pr-preview/pr-221/_not-found/__next._head.txt
  pr-preview/pr-221/_not-found/__next._index.txt
  pr-preview/pr-221/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-221/_not-found/__next._not-found.txt
  pr-preview/pr-221/_not-found/__next._tree.txt
  pr-preview/pr-221/index.html
  pr-preview/pr-221/index.txt
  pr-preview/pr-221/wasm/LICENSE
  pr-preview/pr-221/wasm/README.md
  pr-preview/pr-221/wasm/package.json
  pr-preview/pr-221/wasm/pymermaider_wasm.js
  pr-preview/pr-221/wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Add PR preview deployment to workflow (#221)
  .github/workflows/deploy-web.yml
  .github/workflows/test-pr.yml
Due: none

chore: remove stale pr-preview folder
  pr-preview/pr-221/.nojekyll
Due: none

[web] make header less ugly
  web/app/page.tsx
Due: web-lint

feat(web): use arrow icons for diagram direction settings
  web/components/DiagramEditor.tsx
Due: web-lint

fix(web): add defaultValue to direction segment group
  web/components/DiagramEditor.tsx
Due: web-lint

fix(web): reduce settings popover width
  web/components/DiagramEditor.tsx
Due: web-lint

[web] make header less ugly (#222)
  web/app/page.tsx
Due: web-lint
