Repository diceroll123/pymermaider: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-clippy, cargo-fmt, web-lint

cargo-clippy:
  name: Run cargo clippy
  entry: cargo clippy --fix --allow-staged
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

web-lint:
  name: Web lint
  entry: bash -c 'cd web && npm ci && npm run lint'
  language: system
  pass_filenames: false

add npm ci to justfile
  .justfile
Due: none

remove stdin title
  src/main.rs
Due: cargo-clippy, cargo-fmt

Update README.md
  README.md
Due: none

Add concurrency control to workflows
  .github/workflows/CI.yml
  .github/workflows/lint.yml
  .github/workflows/test-pr.yml
  .github/workflows/test-wasm.yml
  .github/workflows/test.yml
Due: none

Add stdin and stdout capability (#184)
  CHANGELOG.md
  README.md
  src/class_diagram.rs
  src/main.rs
  src/mermaider.rs
  src/output_format.rs
  src/settings.rs
  tests/cli_io.rs
Due: cargo-clippy, cargo-fmt

fix the things
  web/components/diagram/hooks/useMermaid.ts
  web/components/diagram/hooks/usePageVisibility.ts
  web/components/diagram/hooks/useSyntaxHighlighter.ts
  web/eslint.config.mjs
  web/next.config.js
  web/package.json
  web/tsconfig.json
Due: web-lint

Update output_format.rs
  src/output_format.rs
Due: cargo-clippy, cargo-fmt

Refactor relationship symbol rendering in MermaidRenderer
  src/mermaid_renderer.rs
Due: cargo-clippy, cargo-fmt

Update args.rs
  src/args.rs
Due: cargo-clippy, cargo-fmt

Remove base count check and add tests for is_abstract
  src/class_helpers.rs
Due: cargo-clippy, cargo-fmt

Replace itertools with indexmap for deduplication
  Cargo.lock
  Cargo.toml
  src/class_diagram/mod.rs
  src/mermaid_renderer.rs
Due: cargo-clippy, cargo-fmt

Refactoring
  src/args.rs
  src/main.rs
Due: cargo-clippy, cargo-fmt

cleaner class rendering
  src/mermaid_renderer.rs
Due: cargo-clippy, cargo-fmt

Support multiple composition types in class diagram
  CHANGELOG.md
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/type_analyzer.rs
Due: cargo-clippy, cargo-fmt

Refactor Mermaid renderer to use free functions
  src/class_diagram/mod.rs
  src/mermaid_renderer.rs
  src/renderer.rs
Due: cargo-clippy, cargo-fmt

Refactor module imports
  src/class_diagram.rs
  src/lib.rs
  src/main.rs
  src/mermaider.rs
  src/parameter_generator.rs
Due: cargo-clippy, cargo-fmt

Refactor class type detection logic
  src/class_diagram/mod.rs
  src/class_type_detector.rs
  src/renderer.rs
Due: cargo-clippy, cargo-fmt

Refactor path handling in diagram generation
  src/mermaider.rs
Due: cargo-clippy, cargo-fmt

Refactor base class handling in class diagram
  src/class_diagram/mod.rs
Due: cargo-clippy, cargo-fmt

Refactor class diagram rendering
  src/class_diagram/mod.rs
  src/renderer.rs
Due: cargo-clippy, cargo-fmt

Remove 'typing.ABC' from ABC base class detection
  src/class_diagram/mod.rs
  src/class_type_detector.rs
Due: cargo-clippy, cargo-fmt

move class_diagram and split out tests
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Refactoring, and adding multiple composition edges (#192)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  src/args.rs
  src/class_diagram.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/class_helpers.rs
  src/class_type_detector.rs
  src/lib.rs
  src/main.rs
  src/mermaid_renderer.rs
  src/mermaider.rs
  src/output_format.rs
  src/parameter_generator.rs
  src/renderer.rs
  src/type_analyzer.rs
Due: cargo-clippy, cargo-fmt

Refactor macOS CI jobs to use a matrix strategy
  .github/workflows/CI.yml
Due: none

Update CI.yml
  .github/workflows/CI.yml
Due: none

Refactor macOS CI jobs to use a matrix strategy (#194)
  .github/workflows/CI.yml
Due: none

Release 0.1.6
  CHANGELOG.md
  Cargo.toml
Due: none

Update to version 0.1.6 in Cargo.lock
  Cargo.lock
Due: none

Update CI to trigger on release events
  .github/workflows/CI.yml
Due: none

Refactor ClassDiagram source addition methods
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/lib.rs
  src/main.rs
  src/mermaider.rs
Due: cargo-clippy, cargo-fmt

Refactor ClassDiagram source addition methods (#196)
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/lib.rs
  src/main.rs
  src/mermaider.rs
Due: cargo-clippy, cargo-fmt

Tweak diagram args
  src/class_diagram/mod.rs
  src/mermaid_renderer.rs
  src/renderer.rs
Due: cargo-clippy, cargo-fmt

Add --direction flag for class diagram orientation
  CHANGELOG.md
  README.md
  src/args.rs
  src/class_diagram/mod.rs
  src/lib.rs
  src/main.rs
  src/mermaid_renderer.rs
  src/mermaider.rs
  src/renderer.rs
Due: cargo-clippy, cargo-fmt

Update tests.rs
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Add --direction flag for class diagram orientation (#195)
  CHANGELOG.md
  README.md
  src/args.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/lib.rs
  src/main.rs
  src/mermaid_renderer.rs
  src/mermaider.rs
  src/renderer.rs
Due: cargo-clippy, cargo-fmt

Path conditions:
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
  web-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
