Repository diceroll123/pymermaider: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-clippy, cargo-fmt, web-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-clippy
        name: Run cargo clippy
        entry: cargo clippy --fix --allow-staged
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd web && npm ci && npm run lint'
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

Deploy preview for PR 283 🛫
  pr-preview/pr-283/404.html
  pr-preview/pr-283/__next.__PAGE__.txt
  pr-preview/pr-283/__next._full.txt
  pr-preview/pr-283/__next._head.txt
  pr-preview/pr-283/__next._index.txt
  pr-preview/pr-283/__next._tree.txt
  pr-preview/pr-283/_next/static/H80u7xdWWh5AwTR__D-hW/_buildManifest.js
  pr-preview/pr-283/_next/static/H80u7xdWWh5AwTR__D-hW/_clientMiddlewareManifest.json
  pr-preview/pr-283/_next/static/H80u7xdWWh5AwTR__D-hW/_ssgManifest.js
  pr-preview/pr-283/_not-found.html
  pr-preview/pr-283/_not-found.txt
  pr-preview/pr-283/_not-found/__next._full.txt
  pr-preview/pr-283/_not-found/__next._head.txt
  pr-preview/pr-283/_not-found/__next._index.txt
  pr-preview/pr-283/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-283/_not-found/__next._not-found.txt
  pr-preview/pr-283/_not-found/__next._tree.txt
  pr-preview/pr-283/index.html
  pr-preview/pr-283/index.txt
  pr-preview/pr-283/wasm/README.md
  pr-preview/pr-283/wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Deploy preview for PR 283 🛫
  pr-preview/pr-283/404.html
  pr-preview/pr-283/__next.__PAGE__.txt
  pr-preview/pr-283/__next._full.txt
  pr-preview/pr-283/__next._head.txt
  pr-preview/pr-283/__next._index.txt
  pr-preview/pr-283/__next._tree.txt
  pr-preview/pr-283/_next/static/2jQriVfS4XPSS6L5A5ewv/_buildManifest.js
  pr-preview/pr-283/_next/static/2jQriVfS4XPSS6L5A5ewv/_clientMiddlewareManifest.json
  pr-preview/pr-283/_next/static/2jQriVfS4XPSS6L5A5ewv/_ssgManifest.js
  pr-preview/pr-283/_not-found.html
  pr-preview/pr-283/_not-found.txt
  pr-preview/pr-283/_not-found/__next._full.txt
  pr-preview/pr-283/_not-found/__next._head.txt
  pr-preview/pr-283/_not-found/__next._index.txt
  pr-preview/pr-283/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-283/_not-found/__next._not-found.txt
  pr-preview/pr-283/_not-found/__next._tree.txt
  pr-preview/pr-283/index.html
  pr-preview/pr-283/index.txt
Due: web-lint

Deploy preview for PR 283 🛫
  pr-preview/pr-283/404.html
  pr-preview/pr-283/__next.__PAGE__.txt
  pr-preview/pr-283/__next._full.txt
  pr-preview/pr-283/__next._head.txt
  pr-preview/pr-283/__next._index.txt
  pr-preview/pr-283/__next._tree.txt
  pr-preview/pr-283/_next/static/CGRH5aXAgd3FloU1LXg88/_buildManifest.js
  pr-preview/pr-283/_next/static/CGRH5aXAgd3FloU1LXg88/_clientMiddlewareManifest.json
  pr-preview/pr-283/_next/static/CGRH5aXAgd3FloU1LXg88/_ssgManifest.js
  pr-preview/pr-283/_next/static/chunks/031d26c03b912911.js
  pr-preview/pr-283/_next/static/chunks/0a29011c2750e21a.js
  pr-preview/pr-283/_next/static/chunks/933a31b6b203b98f.js
  pr-preview/pr-283/_next/static/chunks/f7f8c447dc2ad48d.js
  pr-preview/pr-283/_not-found.html
  pr-preview/pr-283/_not-found.txt
  pr-preview/pr-283/_not-found/__next._full.txt
  pr-preview/pr-283/_not-found/__next._head.txt
  pr-preview/pr-283/_not-found/__next._index.txt
  pr-preview/pr-283/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-283/_not-found/__next._not-found.txt
  pr-preview/pr-283/_not-found/__next._tree.txt
  pr-preview/pr-283/index.html
  pr-preview/pr-283/index.txt
Due: web-lint

Deploying to gh-pages from @ diceroll123/pymermaider@453fed65fb547f7ccf68fa29441302f3baa4ad91 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/lk7IAkKdVO2rH_bK4SLl2/_buildManifest.js
  _next/static/lk7IAkKdVO2rH_bK4SLl2/_clientMiddlewareManifest.json
  _next/static/lk7IAkKdVO2rH_bK4SLl2/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

fix switch
  web/components/DiagramEditor.tsx
Due: web-lint

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update tests.rs
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Update mod.rs
  src/class_diagram/mod.rs
Due: cargo-clippy, cargo-fmt

Add option to hide private members
  README.md
  src/args.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/lib.rs
  src/main.rs
  src/mermaid_renderer.rs
  src/mermaider.rs
  web/components/DiagramEditor.tsx
  web/components/diagram/hooks/useMermaid.ts
  web/components/diagram/types.ts
Due: cargo-clippy, cargo-fmt, web-lint

Treat dunder names as non-private
  src/class_diagram/mod.rs
Due: cargo-clippy, cargo-fmt

Add option to hide private members (#283)
  CHANGELOG.md
  README.md
  src/args.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/lib.rs
  src/main.rs
  src/mermaid_renderer.rs
  src/mermaider.rs
  web/components/DiagramEditor.tsx
  web/components/diagram/hooks/useMermaid.ts
  web/components/diagram/types.ts
Due: cargo-clippy, cargo-fmt, web-lint

Deploying to gh-pages from @ diceroll123/pymermaider@6df83b7893a42b3bd7a79c2a8d4804a81facc972 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/chunks/0a29011c2750e21a.js
  _next/static/chunks/1a1a109ce32932b3.js
  _next/static/chunks/26e14104589a23ff.js
  _next/static/chunks/50e1a8015be24892.js
  _next/static/chunks/6de80cf1a32b661c.js
  _next/static/chunks/933a31b6b203b98f.js
  _next/static/chunks/972fcba35a480952.js
  _next/static/chunks/b9f98a95e817b57b.js
  _next/static/chunks/ed93d294ff3cd94e.js
  _next/static/chunks/edaab5a819ac9e90.js
  _next/static/sDH1uDTEYNp-nPOpd3Qr4/_buildManifest.js
  _next/static/sDH1uDTEYNp-nPOpd3Qr4/_clientMiddlewareManifest.json
  _next/static/sDH1uDTEYNp-nPOpd3Qr4/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/README.md
  wasm/pymermaider_wasm.js
  wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Update Cargo.lock
  Cargo.lock
Due: none

Bump getrandom to 0.4 for WASM compatibility
  Cargo.lock
  Cargo.toml
Due: none

Add --include option to filter files
  CHANGELOG.md
  README.md
  src/args.rs
  src/main.rs
  src/mermaider.rs
  src/settings.rs
  tests/cli_io.rs
Due: cargo-clippy, cargo-fmt

Deploying to gh-pages from @ diceroll123/pymermaider@9a084dba31a7868c8a4f7df26d1efb61b0f47eff 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/chunks/0fca3c50aea9ea39.js
  _next/static/chunks/26e14104589a23ff.js
  _next/static/chunks/6dc2644213e67121.js
  _next/static/chunks/6de80cf1a32b661c.js
  _next/static/chunks/9d77401ea929714d.js
  _next/static/chunks/a37aa1146814c5a1.js
  _next/static/chunks/e5698edb12d380be.js
  _next/static/chunks/fcd694ae2100c8fa.js
  _next/static/yYnVMjdTA5YdlMJjB0cTT/_buildManifest.js
  _next/static/yYnVMjdTA5YdlMJjB0cTT/_clientMiddlewareManifest.json
  _next/static/yYnVMjdTA5YdlMJjB0cTT/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

Deploy preview for PR 287 🛫
  pr-preview/pr-287/404.html
  pr-preview/pr-287/__next.__PAGE__.txt
  pr-preview/pr-287/__next._full.txt
  pr-preview/pr-287/__next._head.txt
  pr-preview/pr-287/__next._index.txt
  pr-preview/pr-287/__next._tree.txt
  pr-preview/pr-287/_next/static/O9choUU6txcGig7-Dbhm3/_buildManifest.js
  pr-preview/pr-287/_next/static/O9choUU6txcGig7-Dbhm3/_clientMiddlewareManifest.json
  pr-preview/pr-287/_next/static/O9choUU6txcGig7-Dbhm3/_ssgManifest.js
  pr-preview/pr-287/_next/static/chunks/0fca3c50aea9ea39.js
  pr-preview/pr-287/_next/static/chunks/26e14104589a23ff.js
  pr-preview/pr-287/_next/static/chunks/6dc2644213e67121.js
  pr-preview/pr-287/_next/static/chunks/6de80cf1a32b661c.js
  pr-preview/pr-287/_next/static/chunks/9d77401ea929714d.js
  pr-preview/pr-287/_next/static/chunks/a37aa1146814c5a1.js
  pr-preview/pr-287/_next/static/chunks/e5698edb12d380be.js
  pr-preview/pr-287/_next/static/chunks/fcd694ae2100c8fa.js
  pr-preview/pr-287/_not-found.html
  pr-preview/pr-287/_not-found.txt
  pr-preview/pr-287/_not-found/__next._full.txt
  pr-preview/pr-287/_not-found/__next._head.txt
  pr-preview/pr-287/_not-found/__next._index.txt
  pr-preview/pr-287/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-287/_not-found/__next._not-found.txt
  pr-preview/pr-287/_not-found/__next._tree.txt
  pr-preview/pr-287/index.html
  pr-preview/pr-287/index.txt
Due: web-lint

Restructure modules
  Cargo.toml
  src/analysis/checker.rs
  src/analysis/class_helpers.rs
  src/analysis/class_type_detector.rs
  src/analysis/mod.rs
  src/analysis/parameter_generator.rs
  src/analysis/type_analyzer.rs
  src/args.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/lib.rs
  src/main.rs
  src/mermaider.rs
  src/render/mermaid_escape.rs
  src/render/mermaid_renderer.rs
  src/render/mod.rs
  src/render/output_format.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

lint
  src/analysis/class_helpers.rs
  src/analysis/class_type_detector.rs
  src/analysis/type_analyzer.rs
  src/class_diagram/mod.rs
  src/main.rs
Due: cargo-clippy, cargo-fmt

Update Cargo.toml
  Cargo.toml
Due: none

Deploying to gh-pages from @ diceroll123/pymermaider@5d13d2e2e9066faefab54f787d0d3c16c86a4615 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/zOsnfXLVwUgEsycaQKMW_/_buildManifest.js
  _next/static/zOsnfXLVwUgEsycaQKMW_/_clientMiddlewareManifest.js
  _next/static/zOsnfXLVwUgEsycaQKMW_/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

Deploying to gh-pages from @ diceroll123/pymermaider@431bb10aba6d5cd82230072143fd8d91fff020ff 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/chunks/2eoumx0ezkmo1.js
  _next/static/chunks/3wse-nxl6xlkz.js
  _next/static/wNw-IyfMDRh6TtnfpNQ7g/_buildManifest.js
  _next/static/wNw-IyfMDRh6TtnfpNQ7g/_clientMiddlewareManifest.js
  _next/static/wNw-IyfMDRh6TtnfpNQ7g/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

Deploying to gh-pages from @ diceroll123/pymermaider@1b3671e3ecdc5e4dead850b5558f495e6dc3cb20 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/DzHGJ0lClHSLgNGP0DVgD/_buildManifest.js
  _next/static/DzHGJ0lClHSLgNGP0DVgD/_clientMiddlewareManifest.js
  _next/static/DzHGJ0lClHSLgNGP0DVgD/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

Deploying to gh-pages from @ diceroll123/pymermaider@df6539fdced200c24ec56593d5804c6f64f1ee81 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/Kq84KKnFi3UKGfnVL54-C/_buildManifest.js
  _next/static/Kq84KKnFi3UKGfnVL54-C/_clientMiddlewareManifest.js
  _next/static/Kq84KKnFi3UKGfnVL54-C/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

fix: convert ThinVec to Vec for ruff 0.15.17 compatibility
  src/class_diagram/mod.rs
Due: cargo-clippy, cargo-fmt

Deploy preview for PR 363 🛫
  pr-preview/pr-363/404.html
  pr-preview/pr-363/__next.__PAGE__.txt
  pr-preview/pr-363/__next._full.txt
  pr-preview/pr-363/__next._head.txt
  pr-preview/pr-363/__next._index.txt
  pr-preview/pr-363/__next._tree.txt
  pr-preview/pr-363/_next/static/4UhJAbq2gYld6TzdxsDqs/_buildManifest.js
  pr-preview/pr-363/_next/static/4UhJAbq2gYld6TzdxsDqs/_clientMiddlewareManifest.js
  pr-preview/pr-363/_next/static/4UhJAbq2gYld6TzdxsDqs/_ssgManifest.js
  pr-preview/pr-363/_not-found.html
  pr-preview/pr-363/_not-found.txt
  pr-preview/pr-363/_not-found/__next._full.txt
  pr-preview/pr-363/_not-found/__next._head.txt
  pr-preview/pr-363/_not-found/__next._index.txt
  pr-preview/pr-363/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-363/_not-found/__next._not-found.txt
  pr-preview/pr-363/_not-found/__next._tree.txt
  pr-preview/pr-363/index.html
  pr-preview/pr-363/index.txt
Due: web-lint
