Repository diceroll123/pymermaider: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-clippy, cargo-fmt, web-lint

cargo-clippy:
  name: Run cargo clippy
  entry: cargo clippy --fix --allow-staged
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

web-lint:
  name: Web lint
  entry: bash -c 'cd web && npm ci && npm run lint'
  language: system
  pass_filenames: false

ci: speed up Test WASM Build workflow (#517)
  .github/workflows/test-wasm.yml
Due: none

Add method-kind tests and a supported features list to the README
  README.md
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Deploying to gh-pages from @ diceroll123/pymermaider@855cb55fac3df5013c8c6ccee075fffdc6a2f09d 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._tree.txt
  _next/static/HgY3gFmvEryhaCMahAnG6/_buildManifest.js
  _next/static/HgY3gFmvEryhaCMahAnG6/_clientMiddlewareManifest.js
  _next/static/HgY3gFmvEryhaCMahAnG6/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

Remove duplicated #[test] attribute
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Deploy preview for PR 508 🛫
  pr-preview/pr-508/404.html
  pr-preview/pr-508/__next.__PAGE__.txt
  pr-preview/pr-508/__next._full.txt
  pr-preview/pr-508/__next._tree.txt
  pr-preview/pr-508/_next/static/xIyumLzwKjwV7PDh3Kduo/_buildManifest.js
  pr-preview/pr-508/_next/static/xIyumLzwKjwV7PDh3Kduo/_clientMiddlewareManifest.js
  pr-preview/pr-508/_next/static/xIyumLzwKjwV7PDh3Kduo/_ssgManifest.js
  pr-preview/pr-508/_not-found.html
  pr-preview/pr-508/_not-found.txt
  pr-preview/pr-508/_not-found/__next._full.txt
  pr-preview/pr-508/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-508/_not-found/__next._tree.txt
  pr-preview/pr-508/index.html
  pr-preview/pr-508/index.txt
Due: web-lint

Add method-kind tests and a supported features list to the README (#508)
  README.md
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Deploying to gh-pages from @ diceroll123/pymermaider@cd4281fe2eefb807784abe71ce4464d3d8042160 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._tree.txt
  _next/static/ZalVl08Ov0fh1X4aCfx5I/_buildManifest.js
  _next/static/ZalVl08Ov0fh1X4aCfx5I/_clientMiddlewareManifest.js
  _next/static/ZalVl08Ov0fh1X4aCfx5I/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/README.md
Due: web-lint

Recognise NamedTuple, TypedDict and attrs classes
  src/analysis/class_helpers.rs
  src/analysis/class_type_detector.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/render/mermaid_renderer.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Recognise NamedTuple, TypedDict and attrs classes (#505)
  src/analysis/class_helpers.rs
  src/analysis/class_type_detector.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/render/mermaid_renderer.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Deploying to gh-pages from @ diceroll123/pymermaider@0f1744ba0e49723ac7db5fb12b223e645ccb867f 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._tree.txt
  _next/static/uFv4F66vkbsn6bBG19fcF/_buildManifest.js
  _next/static/uFv4F66vkbsn6bBG19fcF/_clientMiddlewareManifest.js
  _next/static/uFv4F66vkbsn6bBG19fcF/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Update syntax error CLI test for module-qualified class names
  tests/cli_io.rs
Due: cargo-clippy, cargo-fmt

Report syntax errors and fix output file naming (#504)
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/lib.rs
  src/main.rs
  src/mermaider.rs
  tests/cli_io.rs
Due: cargo-clippy, cargo-fmt

Deploying to gh-pages from @ diceroll123/pymermaider@aa80c49da64607e3d5928abd4b856b238115fee1 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._tree.txt
  _next/static/eQANjT5F1R5QAWcfQ9Czk/_buildManifest.js
  _next/static/eQANjT5F1R5QAWcfQ9Czk/_clientMiddlewareManifest.js
  _next/static/eQANjT5F1R5QAWcfQ9Czk/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/pymermaider_wasm.js
  wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Distinguish protected from private members
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/render/mermaid_renderer.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Distinguish aggregation (o--) from composition (*--) based on type wrappers
  src/analysis/type_analyzer.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/render/mermaid_renderer.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Distinguish protected from private members (#506)
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/render/mermaid_renderer.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Drop aggregation edge when a composition to the same type exists
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Deploying to gh-pages from @ diceroll123/pymermaider@92b3f1256cfa03c2352b6be149ab615f11c58db2 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._tree.txt
  _next/static/I23WuNQa0ZXWaGW55e4mN/_buildManifest.js
  _next/static/I23WuNQa0ZXWaGW55e4mN/_clientMiddlewareManifest.js
  _next/static/I23WuNQa0ZXWaGW55e4mN/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Distinguish aggregation (o--) from composition (*--) based on type wrappers (#385)
  src/analysis/type_analyzer.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/render/mermaid_renderer.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Deploy preview for PR 510 🛫
  pr-preview/pr-510/404.html
  pr-preview/pr-510/__next.__PAGE__.txt
  pr-preview/pr-510/__next._full.txt
  pr-preview/pr-510/__next._tree.txt
  pr-preview/pr-510/_next/static/3E1dZPeDTQWZjPFv58vQb/_buildManifest.js
  pr-preview/pr-510/_next/static/3E1dZPeDTQWZjPFv58vQb/_clientMiddlewareManifest.js
  pr-preview/pr-510/_next/static/3E1dZPeDTQWZjPFv58vQb/_ssgManifest.js
  pr-preview/pr-510/_not-found.html
  pr-preview/pr-510/_not-found.txt
  pr-preview/pr-510/_not-found/__next._full.txt
  pr-preview/pr-510/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-510/_not-found/__next._tree.txt
  pr-preview/pr-510/index.html
  pr-preview/pr-510/index.txt
Due: web-lint

Deploying to gh-pages from @ diceroll123/pymermaider@df02df7e90fc6751d31da77c852d507fd596079e 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._tree.txt
  _next/static/d4hcrGwAY79bIcfMWdd2v/_buildManifest.js
  _next/static/d4hcrGwAY79bIcfMWdd2v/_clientMiddlewareManifest.js
  _next/static/d4hcrGwAY79bIcfMWdd2v/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Use std::hint::black_box in benches
  benches/parse_render.rs
Due: cargo-clippy, cargo-fmt

Deploy preview for PR 510 🛫
  pr-preview/pr-510/404.html
  pr-preview/pr-510/__next.__PAGE__.txt
  pr-preview/pr-510/__next._full.txt
  pr-preview/pr-510/__next._tree.txt
  pr-preview/pr-510/_next/static/1yrAsfLD8kMoeQL1ZaCfi/_buildManifest.js
  pr-preview/pr-510/_next/static/1yrAsfLD8kMoeQL1ZaCfi/_clientMiddlewareManifest.js
  pr-preview/pr-510/_next/static/1yrAsfLD8kMoeQL1ZaCfi/_ssgManifest.js
  pr-preview/pr-510/_not-found.html
  pr-preview/pr-510/_not-found.txt
  pr-preview/pr-510/_not-found/__next._full.txt
  pr-preview/pr-510/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-510/_not-found/__next._tree.txt
  pr-preview/pr-510/index.html
  pr-preview/pr-510/index.txt
  pr-preview/pr-510/wasm/pymermaider_wasm_bg.wasm
Due: web-lint

fix: adapt to ruff 0.16.10 API changes
  src/analysis/checker.rs
  src/analysis/class_helpers.rs
  src/analysis/type_analyzer.rs
  src/class_diagram/mod.rs
Due: cargo-clippy, cargo-fmt

fix: set s390x march for psm assembly in CI
  .github/workflows/CI.yml
Due: none

Deploy preview for PR 417 🛫
  pr-preview/pr-417/404.html
  pr-preview/pr-417/__next.__PAGE__.txt
  pr-preview/pr-417/__next._full.txt
  pr-preview/pr-417/__next._tree.txt
  pr-preview/pr-417/_next/static/spjhVc-ZaAb1TiD4wstEr/_buildManifest.js
  pr-preview/pr-417/_next/static/spjhVc-ZaAb1TiD4wstEr/_clientMiddlewareManifest.js
  pr-preview/pr-417/_next/static/spjhVc-ZaAb1TiD4wstEr/_ssgManifest.js
  pr-preview/pr-417/_not-found.html
  pr-preview/pr-417/_not-found.txt
  pr-preview/pr-417/_not-found/__next._full.txt
  pr-preview/pr-417/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-417/_not-found/__next._tree.txt
  pr-preview/pr-417/index.html
  pr-preview/pr-417/index.txt
Due: web-lint

feat: detect target Python version from requires-python
  Cargo.lock
  Cargo.toml
  README.md
  src/args.rs
  src/class_diagram/mod.rs
  src/main.rs
  src/mermaider.rs
  src/python_version.rs
Due: cargo-clippy, cargo-fmt

Path conditions:
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
  web-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
