Repository diceroll123/pymermaider: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-clippy, cargo-fmt, web-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-clippy
        name: Run cargo clippy
        entry: cargo clippy --fix --allow-staged
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd web && npm ci && npm run lint'
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

Deploy preview for PR 507 🛫
  pr-preview/pr-507/404.html
  pr-preview/pr-507/__next.__PAGE__.txt
  pr-preview/pr-507/__next._full.txt
  pr-preview/pr-507/__next._tree.txt
  pr-preview/pr-507/_next/static/mKsk4vXTUlaIvKgN8cJJ0/_buildManifest.js
  pr-preview/pr-507/_next/static/mKsk4vXTUlaIvKgN8cJJ0/_clientMiddlewareManifest.js
  pr-preview/pr-507/_next/static/mKsk4vXTUlaIvKgN8cJJ0/_ssgManifest.js
  pr-preview/pr-507/_not-found.html
  pr-preview/pr-507/_not-found.txt
  pr-preview/pr-507/_not-found/__next._full.txt
  pr-preview/pr-507/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-507/_not-found/__next._tree.txt
  pr-preview/pr-507/index.html
  pr-preview/pr-507/index.txt
  pr-preview/pr-507/wasm/README.md
  pr-preview/pr-507/wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Collect class members defined in if/try/with blocks
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Deploy preview for PR 507 🛫
  pr-preview/pr-507/404.html
  pr-preview/pr-507/__next.__PAGE__.txt
  pr-preview/pr-507/__next._full.txt
  pr-preview/pr-507/__next._tree.txt
  pr-preview/pr-507/_next/static/AvS2hda50gaqb7_OfOAL-/_buildManifest.js
  pr-preview/pr-507/_next/static/AvS2hda50gaqb7_OfOAL-/_clientMiddlewareManifest.js
  pr-preview/pr-507/_next/static/AvS2hda50gaqb7_OfOAL-/_ssgManifest.js
  pr-preview/pr-507/_not-found.html
  pr-preview/pr-507/_not-found.txt
  pr-preview/pr-507/_not-found/__next._full.txt
  pr-preview/pr-507/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-507/_not-found/__next._tree.txt
  pr-preview/pr-507/index.html
  pr-preview/pr-507/index.txt
Due: web-lint

Collect class members defined in if/try/with blocks (#507)
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Deploying to gh-pages from @ diceroll123/pymermaider@6ec29c3dbb5d15d6ba84e0dd28808e122c31f97a 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._tree.txt
  _next/static/qVyTpROQmZkLgYMxoK9lO/_buildManifest.js
  _next/static/qVyTpROQmZkLgYMxoK9lO/_clientMiddlewareManifest.js
  _next/static/qVyTpROQmZkLgYMxoK9lO/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Handle generic and multi-base Protocol classes
  src/analysis/class_helpers.rs
  src/analysis/class_type_detector.rs
  src/analysis/type_analyzer.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Deploy preview for PR 498 🛫
  pr-preview/pr-498/404.html
  pr-preview/pr-498/__next.__PAGE__.txt
  pr-preview/pr-498/__next._full.txt
  pr-preview/pr-498/__next._tree.txt
  pr-preview/pr-498/_next/static/QhByw4rKCZAbMoRUopBRZ/_buildManifest.js
  pr-preview/pr-498/_next/static/QhByw4rKCZAbMoRUopBRZ/_clientMiddlewareManifest.js
  pr-preview/pr-498/_next/static/QhByw4rKCZAbMoRUopBRZ/_ssgManifest.js
  pr-preview/pr-498/_not-found.html
  pr-preview/pr-498/_not-found.txt
  pr-preview/pr-498/_not-found/__next._full.txt
  pr-preview/pr-498/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-498/_not-found/__next._tree.txt
  pr-preview/pr-498/index.html
  pr-preview/pr-498/index.txt
  pr-preview/pr-498/wasm/README.md
  pr-preview/pr-498/wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Decide inheritance edge type after all classes are known
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/render/mermaid_renderer.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Emit nested classes under qualified names
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Qualify class names by module in combined directory mode
  src/class_diagram/mod.rs
  src/mermaider.rs
  tests/cli_io.rs
Due: cargo-clippy, cargo-fmt

Keep imported composition types, qualified by module
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Deploy preview for PR 499 🛫
  pr-preview/pr-499/404.html
  pr-preview/pr-499/__next.__PAGE__.txt
  pr-preview/pr-499/__next._full.txt
  pr-preview/pr-499/__next._tree.txt
  pr-preview/pr-499/_next/static/THaT-3CuaHN1XtxP3gZnf/_buildManifest.js
  pr-preview/pr-499/_next/static/THaT-3CuaHN1XtxP3gZnf/_clientMiddlewareManifest.js
  pr-preview/pr-499/_next/static/THaT-3CuaHN1XtxP3gZnf/_ssgManifest.js
  pr-preview/pr-499/_not-found.html
  pr-preview/pr-499/_not-found.txt
  pr-preview/pr-499/_not-found/__next._full.txt
  pr-preview/pr-499/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-499/_not-found/__next._tree.txt
  pr-preview/pr-499/index.html
  pr-preview/pr-499/index.txt
  pr-preview/pr-499/wasm/README.md
  pr-preview/pr-499/wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Deploy preview for PR 501 🛫
  pr-preview/pr-501/404.html
  pr-preview/pr-501/__next.__PAGE__.txt
  pr-preview/pr-501/__next._full.txt
  pr-preview/pr-501/__next._tree.txt
  pr-preview/pr-501/_next/static/yc20UmEL2KHLkh8YYE8pD/_buildManifest.js
  pr-preview/pr-501/_next/static/yc20UmEL2KHLkh8YYE8pD/_clientMiddlewareManifest.js
  pr-preview/pr-501/_next/static/yc20UmEL2KHLkh8YYE8pD/_ssgManifest.js
  pr-preview/pr-501/_not-found.html
  pr-preview/pr-501/_not-found.txt
  pr-preview/pr-501/_not-found/__next._full.txt
  pr-preview/pr-501/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-501/_not-found/__next._tree.txt
  pr-preview/pr-501/index.html
  pr-preview/pr-501/index.txt
  pr-preview/pr-501/wasm/README.md
  pr-preview/pr-501/wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Deploy preview for PR 502 🛫
  pr-preview/pr-502/404.html
  pr-preview/pr-502/__next.__PAGE__.txt
  pr-preview/pr-502/__next._full.txt
  pr-preview/pr-502/__next._tree.txt
  pr-preview/pr-502/_next/static/Sh7ydqvlUVzXk3qEEPT-i/_buildManifest.js
  pr-preview/pr-502/_next/static/Sh7ydqvlUVzXk3qEEPT-i/_clientMiddlewareManifest.js
  pr-preview/pr-502/_next/static/Sh7ydqvlUVzXk3qEEPT-i/_ssgManifest.js
  pr-preview/pr-502/_not-found.html
  pr-preview/pr-502/_not-found.txt
  pr-preview/pr-502/_not-found/__next._full.txt
  pr-preview/pr-502/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-502/_not-found/__next._tree.txt
  pr-preview/pr-502/index.html
  pr-preview/pr-502/index.txt
  pr-preview/pr-502/wasm/README.md
  pr-preview/pr-502/wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Decide inheritance edge type after all classes are known (#499)
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/render/mermaid_renderer.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Handle generic and multi-base Protocol classes (#498)
  src/analysis/class_helpers.rs
  src/analysis/class_type_detector.rs
  src/analysis/type_analyzer.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Emit nested classes under qualified names (#501)
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Qualify class names by module in combined directory mode (#502)
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/mermaider.rs
  tests/cli_io.rs
Due: cargo-clippy, cargo-fmt

feat(web): link to production playground from PR previews
  web/app/page.tsx
Due: web-lint

Deploying to gh-pages from @ diceroll123/pymermaider@99d609f2d0e58a9856ef4d59c629e824512c3c72 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._tree.txt
  _next/static/4Z-Mk5fulS9_VgnLgRurv/_buildManifest.js
  _next/static/4Z-Mk5fulS9_VgnLgRurv/_clientMiddlewareManifest.js
  _next/static/4Z-Mk5fulS9_VgnLgRurv/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Deploy preview for PR 514 🛫
  pr-preview/pr-514/404.html
  pr-preview/pr-514/__next.__PAGE__.txt
  pr-preview/pr-514/__next._full.txt
  pr-preview/pr-514/__next._tree.txt
  pr-preview/pr-514/_next/static/cgugzt_mn8q_u88kM_l2_/_buildManifest.js
  pr-preview/pr-514/_next/static/cgugzt_mn8q_u88kM_l2_/_clientMiddlewareManifest.js
  pr-preview/pr-514/_next/static/cgugzt_mn8q_u88kM_l2_/_ssgManifest.js
  pr-preview/pr-514/_not-found.html
  pr-preview/pr-514/_not-found.txt
  pr-preview/pr-514/_not-found/__next._full.txt
  pr-preview/pr-514/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-514/_not-found/__next._tree.txt
  pr-preview/pr-514/index.html
  pr-preview/pr-514/index.txt
  pr-preview/pr-514/wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Deploy preview for PR 495 🛫
  pr-preview/pr-495/404.html
  pr-preview/pr-495/__next.__PAGE__.txt
  pr-preview/pr-495/__next._full.txt
  pr-preview/pr-495/__next._tree.txt
  pr-preview/pr-495/_next/static/XcRAuh3Nq01YC94ZzMhHg/_buildManifest.js
  pr-preview/pr-495/_next/static/XcRAuh3Nq01YC94ZzMhHg/_clientMiddlewareManifest.js
  pr-preview/pr-495/_next/static/XcRAuh3Nq01YC94ZzMhHg/_ssgManifest.js
  pr-preview/pr-495/_not-found.html
  pr-preview/pr-495/_not-found.txt
  pr-preview/pr-495/_not-found/__next._full.txt
  pr-preview/pr-495/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-495/_not-found/__next._tree.txt
  pr-preview/pr-495/index.html
  pr-preview/pr-495/index.txt
  pr-preview/pr-495/wasm/README.md
  pr-preview/pr-495/wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Deploy preview for PR 496 🛫
  pr-preview/pr-496/404.html
  pr-preview/pr-496/__next.__PAGE__.txt
  pr-preview/pr-496/__next._full.txt
  pr-preview/pr-496/__next._tree.txt
  pr-preview/pr-496/_next/static/qBfOEoNG9jgKfbaisYkPn/_buildManifest.js
  pr-preview/pr-496/_next/static/qBfOEoNG9jgKfbaisYkPn/_clientMiddlewareManifest.js
  pr-preview/pr-496/_next/static/qBfOEoNG9jgKfbaisYkPn/_ssgManifest.js
  pr-preview/pr-496/_not-found.html
  pr-preview/pr-496/_not-found.txt
  pr-preview/pr-496/_not-found/__next._full.txt
  pr-preview/pr-496/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-496/_not-found/__next._tree.txt
  pr-preview/pr-496/index.html
  pr-preview/pr-496/index.txt
  pr-preview/pr-496/wasm/README.md
  pr-preview/pr-496/wasm/pymermaider_wasm_bg.wasm
Due: web-lint

feat(web): link to production playground from PR previews (#514)
  web/app/page.tsx
Due: web-lint

Deploying to gh-pages from @ diceroll123/pymermaider@3ddec082aec7520fad80248c4e8f99c261f1455e 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._tree.txt
  _next/static/LaU3UNUIvGEFeCxHUSGxO/_buildManifest.js
  _next/static/LaU3UNUIvGEFeCxHUSGxO/_clientMiddlewareManifest.js
  _next/static/LaU3UNUIvGEFeCxHUSGxO/_ssgManifest.js
  _next/static/chunks/2f5bpsw5apep2.js
  _next/static/chunks/31td310p_v5yy.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

Deploying to gh-pages from @ diceroll123/pymermaider@7e18bd8314b866d4caee9b9c2c4a37fdafb911e7 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._tree.txt
  _next/static/7yOyb3UoA6eOwwl2U-vg0/_buildManifest.js
  _next/static/7yOyb3UoA6eOwwl2U-vg0/_clientMiddlewareManifest.js
  _next/static/7yOyb3UoA6eOwwl2U-vg0/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

Escape special characters in types and quote YAML titles
  src/class_diagram/tests.rs
  src/render/mermaid_escape.rs
  src/render/mermaid_renderer.rs
Due: cargo-clippy, cargo-fmt

Render parameter types and defaults, collect instance attributes
  src/analysis/parameter_generator.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Escape special characters in types and quote YAML titles (#495)
  src/class_diagram/tests.rs
  src/render/mermaid_escape.rs
  src/render/mermaid_renderer.rs
Due: cargo-clippy, cargo-fmt

Render parameter types and defaults, collect instance attributes (#496)
  src/analysis/parameter_generator.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

ci: speed up Test WASM Build workflow
  .github/workflows/test-wasm.yml
Due: none

Deploying to gh-pages from @ diceroll123/pymermaider@892f7e50ff560f96e819720437ebc8373eed7afb 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._tree.txt
  _next/static/DYVZ2mnfzpMbyEZ6dp3Y0/_buildManifest.js
  _next/static/DYVZ2mnfzpMbyEZ6dp3Y0/_clientMiddlewareManifest.js
  _next/static/DYVZ2mnfzpMbyEZ6dp3Y0/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/pymermaider_wasm_bg.wasm
Due: web-lint
