Repository diceroll123/pymermaider: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-clippy, cargo-fmt, web-lint

cargo-clippy:
  name: Run cargo clippy
  entry: cargo clippy --fix --allow-staged
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

web-lint:
  name: Web lint
  entry: bash -c 'cd web && npm ci && npm run lint'
  language: system
  pass_filenames: false

feat: detect target Python version from requires-python (#519)
  Cargo.lock
  Cargo.toml
  README.md
  src/args.rs
  src/class_diagram/mod.rs
  src/main.rs
  src/mermaider.rs
  src/python_version.rs
Due: cargo-clippy, cargo-fmt

Deploying to gh-pages from @ diceroll123/pymermaider@d042541f49d8db3627bde24830c2c28b68e999a0 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._tree.txt
  _next/static/0LqNJBe64oJ8rKors6BIF/_buildManifest.js
  _next/static/0LqNJBe64oJ8rKors6BIF/_clientMiddlewareManifest.js
  _next/static/0LqNJBe64oJ8rKors6BIF/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/README.md
  wasm/pymermaider_wasm_bg.wasm
Due: web-lint

fix: handle Literal, Annotated, Callable annotations and infer BinOp/BoolOp types
  src/analysis/type_analyzer.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

fix: handle Literal, Annotated, Callable annotations and infer BinOp/BoolOp types (#520)
  src/analysis/type_analyzer.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Deploying to gh-pages from @ diceroll123/pymermaider@0ece6b58c6c5ac34a6015e5cd0f0ac2945eac2c7 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._tree.txt
  _next/static/hqVMdRP4SJFbrmIrRSpbc/_buildManifest.js
  _next/static/hqVMdRP4SJFbrmIrRSpbc/_clientMiddlewareManifest.js
  _next/static/hqVMdRP4SJFbrmIrRSpbc/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/pymermaider_wasm_bg.wasm
Due: web-lint

feat: infer types for unannotated attributes with ty
  .github/workflows/test-pr.yml
  .github/workflows/test-wasm.yml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  README.md
  src/analysis/checker.rs
  src/analysis/mod.rs
  src/analysis/ty_infer.rs
  src/args.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/main.rs
  src/mermaider.rs
Due: cargo-clippy, cargo-fmt

feat: resolve inferred types across files and the project venv
  Cargo.lock
  Cargo.toml
  README.md
  src/analysis/ty_infer.rs
  src/class_diagram/mod.rs
  src/lib.rs
  src/mermaider.rs
  tests/cli_io.rs
Due: cargo-clippy, cargo-fmt

Deploy preview for PR 521 🛫
  pr-preview/pr-521/404.html
  pr-preview/pr-521/__next.__PAGE__.txt
  pr-preview/pr-521/__next._full.txt
  pr-preview/pr-521/__next._tree.txt
  pr-preview/pr-521/_next/static/wcW3o52IRV9ujK6ix5Oqf/_buildManifest.js
  pr-preview/pr-521/_next/static/wcW3o52IRV9ujK6ix5Oqf/_clientMiddlewareManifest.js
  pr-preview/pr-521/_next/static/wcW3o52IRV9ujK6ix5Oqf/_ssgManifest.js
  pr-preview/pr-521/_not-found.html
  pr-preview/pr-521/_not-found.txt
  pr-preview/pr-521/_not-found/__next._full.txt
  pr-preview/pr-521/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-521/_not-found/__next._tree.txt
  pr-preview/pr-521/index.html
  pr-preview/pr-521/index.txt
  pr-preview/pr-521/wasm/README.md
  pr-preview/pr-521/wasm/pymermaider_wasm_bg.wasm
Due: web-lint

ci: group ty crates with ruff dependencies in renovate
  renovate.json
Due: none

Deploy preview for PR 521 🛫
  pr-preview/pr-521/404.html
  pr-preview/pr-521/__next.__PAGE__.txt
  pr-preview/pr-521/__next._full.txt
  pr-preview/pr-521/__next._tree.txt
  pr-preview/pr-521/_next/static/BlfDQtnDVM5q43-Pm7O7b/_buildManifest.js
  pr-preview/pr-521/_next/static/BlfDQtnDVM5q43-Pm7O7b/_clientMiddlewareManifest.js
  pr-preview/pr-521/_next/static/BlfDQtnDVM5q43-Pm7O7b/_ssgManifest.js
  pr-preview/pr-521/_not-found.html
  pr-preview/pr-521/_not-found.txt
  pr-preview/pr-521/_not-found/__next._full.txt
  pr-preview/pr-521/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-521/_not-found/__next._tree.txt
  pr-preview/pr-521/index.html
  pr-preview/pr-521/index.txt
Due: web-lint

ci: drop invalid cargo-lock manager from renovate rule
  Cargo.toml
  renovate.json
Due: none

Deploy preview for PR 521 🛫
  pr-preview/pr-521/404.html
  pr-preview/pr-521/__next.__PAGE__.txt
  pr-preview/pr-521/__next._full.txt
  pr-preview/pr-521/__next._tree.txt
  pr-preview/pr-521/_next/static/3gZMix6rySRkApcpJfLaC/_buildManifest.js
  pr-preview/pr-521/_next/static/3gZMix6rySRkApcpJfLaC/_clientMiddlewareManifest.js
  pr-preview/pr-521/_next/static/3gZMix6rySRkApcpJfLaC/_ssgManifest.js
  pr-preview/pr-521/_not-found.html
  pr-preview/pr-521/_not-found.txt
  pr-preview/pr-521/_not-found/__next._full.txt
  pr-preview/pr-521/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-521/_not-found/__next._tree.txt
  pr-preview/pr-521/index.html
  pr-preview/pr-521/index.txt
Due: web-lint

ci: build benchmarks without ty inference
  .github/workflows/codspeed.yml
Due: none

Deploy preview for PR 521 🛫
  pr-preview/pr-521/404.html
  pr-preview/pr-521/__next.__PAGE__.txt
  pr-preview/pr-521/__next._full.txt
  pr-preview/pr-521/__next._tree.txt
  pr-preview/pr-521/_next/static/_Ew8LWBgvr-XOnPGEKB9Y/_buildManifest.js
  pr-preview/pr-521/_next/static/_Ew8LWBgvr-XOnPGEKB9Y/_clientMiddlewareManifest.js
  pr-preview/pr-521/_next/static/_Ew8LWBgvr-XOnPGEKB9Y/_ssgManifest.js
  pr-preview/pr-521/_not-found.html
  pr-preview/pr-521/_not-found.txt
  pr-preview/pr-521/_not-found/__next._full.txt
  pr-preview/pr-521/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-521/_not-found/__next._tree.txt
  pr-preview/pr-521/index.html
  pr-preview/pr-521/index.txt
Due: web-lint

feat: infer types for unannotated attributes with ty (#521)
  .github/workflows/codspeed.yml
  .github/workflows/test-pr.yml
  .github/workflows/test-wasm.yml
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  README.md
  renovate.json
  src/analysis/checker.rs
  src/analysis/mod.rs
  src/analysis/ty_infer.rs
  src/args.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/lib.rs
  src/main.rs
  src/mermaider.rs
  tests/cli_io.rs
Due: cargo-clippy, cargo-fmt

feat: support .pyi stub files in the CLI and playground
  README.md
  src/analysis/ty_infer.rs
  src/class_diagram/mod.rs
  src/lib.rs
  src/mermaider.rs
  tests/cli_io.rs
  web/components/DiagramEditor.tsx
  web/components/diagram/FileExplorer.tsx
  web/components/diagram/hooks/useFileSystem.ts
  web/components/diagram/hooks/useGitHubRepo.ts
  web/components/diagram/hooks/useMermaid.ts
  web/components/diagram/pythonFiles.ts
  web/components/diagram/types.ts
Due: cargo-clippy, cargo-fmt, web-lint

Deploy preview for PR 523 🛫
  pr-preview/pr-523/404.html
  pr-preview/pr-523/__next.__PAGE__.txt
  pr-preview/pr-523/__next._full.txt
  pr-preview/pr-523/__next._tree.txt
  pr-preview/pr-523/_next/static/rgQVGMfGBaBAK7VvamtmW/_buildManifest.js
  pr-preview/pr-523/_next/static/rgQVGMfGBaBAK7VvamtmW/_clientMiddlewareManifest.js
  pr-preview/pr-523/_next/static/rgQVGMfGBaBAK7VvamtmW/_ssgManifest.js
  pr-preview/pr-523/_not-found.html
  pr-preview/pr-523/_not-found.txt
  pr-preview/pr-523/_not-found/__next._full.txt
  pr-preview/pr-523/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-523/_not-found/__next._tree.txt
  pr-preview/pr-523/index.html
  pr-preview/pr-523/index.txt
Due: web-lint

Deploying to gh-pages from @ diceroll123/pymermaider@d23852be72857f414e6898307d24ee74fdac5a3e 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._tree.txt
  _next/static/kez9ABPX3MOlysVXsHVIB/_buildManifest.js
  _next/static/kez9ABPX3MOlysVXsHVIB/_clientMiddlewareManifest.js
  _next/static/kez9ABPX3MOlysVXsHVIB/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/README.md
  wasm/pymermaider_wasm_bg.wasm
Due: web-lint

feat: support .pyi stub files in the CLI and playground (#523)
  README.md
  src/analysis/ty_infer.rs
  src/class_diagram/mod.rs
  src/lib.rs
  src/mermaider.rs
  tests/cli_io.rs
  web/components/DiagramEditor.tsx
  web/components/diagram/FileExplorer.tsx
  web/components/diagram/hooks/useFileSystem.ts
  web/components/diagram/hooks/useGitHubRepo.ts
  web/components/diagram/hooks/useMermaid.ts
  web/components/diagram/pythonFiles.ts
  web/components/diagram/types.ts
Due: cargo-clippy, cargo-fmt, web-lint

Deploying to gh-pages from @ diceroll123/pymermaider@01e6efec3efbf11200ee0e3ba6953363741ab8d3 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._tree.txt
  _next/static/_4DoM6SnIec71FCTz8kRi/_buildManifest.js
  _next/static/_4DoM6SnIec71FCTz8kRi/_clientMiddlewareManifest.js
  _next/static/_4DoM6SnIec71FCTz8kRi/_ssgManifest.js
  _next/static/chunks/1n7i9o7t3ru8o.js
  _next/static/chunks/2f5bpsw5apep2.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/README.md
  wasm/pymermaider_wasm.js
  wasm/pymermaider_wasm_bg.wasm
Due: web-lint

fix: refresh Cargo.lock for ruff 0.17.0
  Cargo.lock
Due: none

fix: escape nested generic siblings with entity codes in Mermaid types
  src/render/mermaid_escape.rs
Due: cargo-clippy, cargo-fmt

Deploy preview for PR 524 🛫
  pr-preview/pr-524/404.html
  pr-preview/pr-524/__next.__PAGE__.txt
  pr-preview/pr-524/__next._full.txt
  pr-preview/pr-524/__next._tree.txt
  pr-preview/pr-524/_next/static/chunks/0iwrbk2p-3182.js
  pr-preview/pr-524/_next/static/chunks/2qeccq82pqgjl.js
  pr-preview/pr-524/_next/static/hP7aOuQZftV_v-UmIm7Bh/_buildManifest.js
  pr-preview/pr-524/_next/static/hP7aOuQZftV_v-UmIm7Bh/_clientMiddlewareManifest.js
  pr-preview/pr-524/_next/static/hP7aOuQZftV_v-UmIm7Bh/_ssgManifest.js
  pr-preview/pr-524/_not-found.html
  pr-preview/pr-524/_not-found.txt
  pr-preview/pr-524/_not-found/__next._full.txt
  pr-preview/pr-524/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-524/_not-found/__next._tree.txt
  pr-preview/pr-524/index.html
  pr-preview/pr-524/index.txt
  pr-preview/pr-524/wasm/README.md
  pr-preview/pr-524/wasm/pymermaider_wasm.js
  pr-preview/pr-524/wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Path conditions:
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
  web-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
