Repository diceroll123/pymermaider: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-clippy, cargo-fmt, web-lint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: cargo-clippy
        name: Run cargo clippy
        entry: cargo clippy --fix --allow-staged
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false

      - id: web-lint
        name: Web lint
        entry: bash -c 'cd web && npm ci && npm run lint'
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

Deploying to gh-pages from @ diceroll123/pymermaider@e1a5f47b6f7a4b5fbcda1fcd01000b750f331dd2 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/chunks/468a5041e3b4f036.js
  _next/static/chunks/5825df48d285d666.js
  _next/static/vfOQTZqaXgKZJa_HZu2bL/_buildManifest.js
  _next/static/vfOQTZqaXgKZJa_HZu2bL/_clientMiddlewareManifest.json
  _next/static/vfOQTZqaXgKZJa_HZu2bL/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

Update DiagramEditor.tsx
  web/components/DiagramEditor.tsx
Due: web-lint

[web] use arrow icons for diagram direction settings (#223)
  web/components/DiagramEditor.tsx
Due: web-lint

Deploying to gh-pages from @ diceroll123/pymermaider@63bbe920c6a7a90deaca3967e5c68880959f38d3 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/JWsEbNXBSLGzUL1PTjnfY/_buildManifest.js
  _next/static/JWsEbNXBSLGzUL1PTjnfY/_clientMiddlewareManifest.json
  _next/static/JWsEbNXBSLGzUL1PTjnfY/_ssgManifest.js
  _next/static/chunks/33befc8234403992.js
  _next/static/chunks/468a5041e3b4f036.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

Cleanup orphaned PR preview directories (pr-222, pr-223)
  pr-preview/pr-222/.nojekyll
  pr-preview/pr-223/.nojekyll
Due: none

Add cleanup step for PR preview directories
  .github/workflows/test-pr.yml
Due: none

[web] add pointer to direction segmentgroup
  web/components/DiagramEditor.tsx
Due: web-lint

Add cleanup step for PR preview directories (#224)
  .github/workflows/test-pr.yml
Due: none

Deploying to gh-pages from @ diceroll123/pymermaider@4c3c97e8245f14e9e12cf8d474a4c5115c45ab1c 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/2yJx4BV4iv1SHrE2bwyuE/_buildManifest.js
  _next/static/2yJx4BV4iv1SHrE2bwyuE/_clientMiddlewareManifest.json
  _next/static/2yJx4BV4iv1SHrE2bwyuE/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

Remove PR preview cleanup workaround from workflow
  .github/workflows/test-pr.yml
Due: none

[web] add pointer to direction segmentgroup (#225)
  web/components/DiagramEditor.tsx
Due: web-lint

Deploying to gh-pages from @ diceroll123/pymermaider@65ce85bd0d5dbe06fdd810cd414a007d95788448 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/y1XzbGaZr0ZWGQO8TETDu/_buildManifest.js
  _next/static/y1XzbGaZr0ZWGQO8TETDu/_clientMiddlewareManifest.json
  _next/static/y1XzbGaZr0ZWGQO8TETDu/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

Deploying to gh-pages from @ diceroll123/pymermaider@522fffa315a091b6f5dd8e9d0924dc3c504e53f5 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/chunks/33befc8234403992.js
  _next/static/chunks/7a15fb5b78353dfd.js
  _next/static/z_joEixY2H-eW9Jp91Qvh/_buildManifest.js
  _next/static/z_joEixY2H-eW9Jp91Qvh/_clientMiddlewareManifest.json
  _next/static/z_joEixY2H-eW9Jp91Qvh/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

Revert "Update Rust crate getrandom to 0.4 (#259)"
  Cargo.toml
Due: none

Revert "Update Rust crate getrandom to 0.4 (#259)" (#261)
  Cargo.toml
Due: none

Deploying to gh-pages from @ diceroll123/pymermaider@7c05500b429f6dfe9fe77b157df821c02e06493c 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/7AgOS5RWuaYFtGmO4tOVx/_buildManifest.js
  _next/static/7AgOS5RWuaYFtGmO4tOVx/_clientMiddlewareManifest.json
  _next/static/7AgOS5RWuaYFtGmO4tOVx/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/pymermaider_wasm.js
  wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Create config.toml
  .cargo/config.toml
Due: none

fix sourcekind::python
  src/class_diagram/mod.rs
  src/class_helpers.rs
Due: cargo-clippy, cargo-fmt

Deploy preview for PR 258 🛫
  pr-preview/pr-258/404.html
  pr-preview/pr-258/__next.__PAGE__.txt
  pr-preview/pr-258/__next._full.txt
  pr-preview/pr-258/__next._head.txt
  pr-preview/pr-258/__next._index.txt
  pr-preview/pr-258/__next._tree.txt
  pr-preview/pr-258/_next/static/vCL_yKBgRvUkUhefpmz1D/_buildManifest.js
  pr-preview/pr-258/_next/static/vCL_yKBgRvUkUhefpmz1D/_clientMiddlewareManifest.json
  pr-preview/pr-258/_next/static/vCL_yKBgRvUkUhefpmz1D/_ssgManifest.js
  pr-preview/pr-258/_not-found.html
  pr-preview/pr-258/_not-found.txt
  pr-preview/pr-258/_not-found/__next._full.txt
  pr-preview/pr-258/_not-found/__next._head.txt
  pr-preview/pr-258/_not-found/__next._index.txt
  pr-preview/pr-258/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-258/_not-found/__next._not-found.txt
  pr-preview/pr-258/_not-found/__next._tree.txt
  pr-preview/pr-258/index.html
  pr-preview/pr-258/index.txt
Due: web-lint

Trigger CI on package.json changes
  .github/workflows/test-wasm.yml
Due: none

Update test-wasm.yml
  .github/workflows/test-wasm.yml
Due: none

Relax test-wasm workflow requirements (#282)
  .github/workflows/test-wasm.yml
Due: none

Deploying to gh-pages from @ diceroll123/pymermaider@a0cbe90d906dde08acba00416ed0c73d5965ce81 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/S2R6wkIZQZayquyvcfzM_/_buildManifest.js
  _next/static/S2R6wkIZQZayquyvcfzM_/_clientMiddlewareManifest.json
  _next/static/S2R6wkIZQZayquyvcfzM_/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

Show @property getters as attributes
  CHANGELOG.md
  README.md
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Deploy preview for PR 283 🛫
  pr-preview/pr-283/404.html
  pr-preview/pr-283/__next.__PAGE__.txt
  pr-preview/pr-283/__next._full.txt
  pr-preview/pr-283/__next._head.txt
  pr-preview/pr-283/__next._index.txt
  pr-preview/pr-283/__next._tree.txt
  pr-preview/pr-283/_next/static/chunks/a7c6769c1b0eb345.js
  pr-preview/pr-283/_next/static/chunks/a9ccd50be38a0977.js
  pr-preview/pr-283/_next/static/zqyPZzG0Jg9NHrc4SJXQk/_buildManifest.js
  pr-preview/pr-283/_next/static/zqyPZzG0Jg9NHrc4SJXQk/_clientMiddlewareManifest.json
  pr-preview/pr-283/_next/static/zqyPZzG0Jg9NHrc4SJXQk/_ssgManifest.js
  pr-preview/pr-283/_not-found.html
  pr-preview/pr-283/_not-found.txt
  pr-preview/pr-283/_not-found/__next._full.txt
  pr-preview/pr-283/_not-found/__next._head.txt
  pr-preview/pr-283/_not-found/__next._index.txt
  pr-preview/pr-283/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-283/_not-found/__next._not-found.txt
  pr-preview/pr-283/_not-found/__next._tree.txt
  pr-preview/pr-283/index.html
  pr-preview/pr-283/index.txt
  pr-preview/pr-283/wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Show @property getters as attributes (#284)
  CHANGELOG.md
  README.md
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Deploying to gh-pages from @ diceroll123/pymermaider@00d7adac1d80efd305d1ed99a7c78c7481195e0b 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/yopynhXlkgI5Z6wrf_YKn/_buildManifest.js
  _next/static/yopynhXlkgI5Z6wrf_YKn/_clientMiddlewareManifest.json
  _next/static/yopynhXlkgI5Z6wrf_YKn/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/README.md
  wasm/pymermaider_wasm_bg.wasm
Due: web-lint
