Repository diceroll123/pymermaider: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-clippy, cargo-fmt, web-lint

cargo-clippy:
  name: Run cargo clippy
  entry: cargo clippy --fix --allow-staged
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

web-lint:
  name: Web lint
  entry: bash -c 'cd web && npm ci && npm run lint'
  language: system
  pass_filenames: false

Restructure modules
  Cargo.toml
  src/analysis/checker.rs
  src/analysis/class_helpers.rs
  src/analysis/class_type_detector.rs
  src/analysis/mod.rs
  src/analysis/parameter_generator.rs
  src/analysis/type_analyzer.rs
  src/args.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/lib.rs
  src/main.rs
  src/mermaider.rs
  src/render/mermaid_escape.rs
  src/render/mermaid_renderer.rs
  src/render/mod.rs
  src/render/output_format.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Update Cargo.toml
  Cargo.toml
Due: none

lint
  src/analysis/class_helpers.rs
  src/analysis/class_type_detector.rs
  src/analysis/type_analyzer.rs
  src/class_diagram/mod.rs
  src/main.rs
Due: cargo-clippy, cargo-fmt

Restructure modules (#356)
  Cargo.toml
  src/analysis/checker.rs
  src/analysis/class_helpers.rs
  src/analysis/class_type_detector.rs
  src/analysis/mod.rs
  src/analysis/parameter_generator.rs
  src/analysis/type_analyzer.rs
  src/args.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/lib.rs
  src/main.rs
  src/mermaider.rs
  src/render/mermaid_escape.rs
  src/render/mermaid_renderer.rs
  src/render/mod.rs
  src/render/output_format.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Deploying to gh-pages from @ diceroll123/pymermaider@d2a7f783d3a002e2de845131e7eb2da4fc538262 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/w33_9g9-n9pZavMj_-Edp/_buildManifest.js
  _next/static/w33_9g9-n9pZavMj_-Edp/_clientMiddlewareManifest.js
  _next/static/w33_9g9-n9pZavMj_-Edp/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/pymermaider_wasm.js
  wasm/pymermaider_wasm_bg.wasm
Due: web-lint

Add --include option to filter files
  CHANGELOG.md
  README.md
  src/args.rs
  src/main.rs
  src/mermaider.rs
  src/settings.rs
  tests/cli_io.rs
Due: cargo-clippy, cargo-fmt

Add --include option to filter files (#287)
  CHANGELOG.md
  README.md
  src/args.rs
  src/main.rs
  src/mermaider.rs
  src/settings.rs
  tests/cli_io.rs
Due: cargo-clippy, cargo-fmt

Deploying to gh-pages from @ diceroll123/pymermaider@94ad147df89a0fb124b43d8d65edd04dfb8ce039 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/doiqOHNjh-DGf5AUuoWbz/_buildManifest.js
  _next/static/doiqOHNjh-DGf5AUuoWbz/_clientMiddlewareManifest.js
  _next/static/doiqOHNjh-DGf5AUuoWbz/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
  wasm/README.md
Due: web-lint

Add TypedDict, NamedTuple, and attrs class type detection
  .gitignore
  src/analysis/class_helpers.rs
  src/analysis/class_type_detector.rs
  src/class_diagram/tests.rs
  src/render/mermaid_renderer.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Add nested class support with composition edges to outer class
  .gitignore
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
Due: cargo-clippy, cargo-fmt

Mark ClassVar attributes as class-level with $ classifier
  .gitignore
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/render/mermaid_renderer.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Distinguish aggregation (o--) from composition (*--) based on type wrappers
  .gitignore
  src/analysis/type_analyzer.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/render/mermaid_renderer.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Add attribute name labels to composition/aggregation edges
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/render/mermaid_renderer.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Add cardinality labels to composition edges
  .gitignore
  src/analysis/type_analyzer.rs
  src/class_diagram/mod.rs
  src/class_diagram/tests.rs
  src/render/mermaid_renderer.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Add --namespace flag to group classes by module in Mermaid namespace blocks
  .gitignore
  src/args.rs
  src/class_diagram/mod.rs
  src/mermaider.rs
  src/render/mermaid_renderer.rs
  src/render/renderer.rs
Due: cargo-clippy, cargo-fmt

Deploying to gh-pages from @ diceroll123/pymermaider@d820c5538e5b06a8922d07614cadc5ac8d391dcd 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/fwb3BlFi1s6CKiMPRdvG1/_buildManifest.js
  _next/static/fwb3BlFi1s6CKiMPRdvG1/_clientMiddlewareManifest.js
  _next/static/fwb3BlFi1s6CKiMPRdvG1/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

Deploy preview for PR 406 🛫
  pr-preview/pr-406/404.html
  pr-preview/pr-406/__next.__PAGE__.txt
  pr-preview/pr-406/__next._full.txt
  pr-preview/pr-406/__next._head.txt
  pr-preview/pr-406/__next._index.txt
  pr-preview/pr-406/__next._tree.txt
  pr-preview/pr-406/_next/static/EJ85nRJ_pT5Qh7sGg8I_J/_buildManifest.js
  pr-preview/pr-406/_next/static/EJ85nRJ_pT5Qh7sGg8I_J/_clientMiddlewareManifest.js
  pr-preview/pr-406/_next/static/EJ85nRJ_pT5Qh7sGg8I_J/_ssgManifest.js
  pr-preview/pr-406/_not-found.html
  pr-preview/pr-406/_not-found.txt
  pr-preview/pr-406/_not-found/__next._full.txt
  pr-preview/pr-406/_not-found/__next._head.txt
  pr-preview/pr-406/_not-found/__next._index.txt
  pr-preview/pr-406/_not-found/__next._not-found.__PAGE__.txt
  pr-preview/pr-406/_not-found/__next._not-found.txt
  pr-preview/pr-406/_not-found/__next._tree.txt
  pr-preview/pr-406/index.html
  pr-preview/pr-406/index.txt
Due: web-lint

Deploying to gh-pages from @ diceroll123/pymermaider@2146149d33d3f29bac325a58478a5d74581e3a61 🚀
  404.html
  __next.__PAGE__.txt
  __next._full.txt
  __next._head.txt
  __next._index.txt
  __next._tree.txt
  _next/static/SmuDP04JJH3ulld46QLB-/_buildManifest.js
  _next/static/SmuDP04JJH3ulld46QLB-/_clientMiddlewareManifest.js
  _next/static/SmuDP04JJH3ulld46QLB-/_ssgManifest.js
  _not-found.html
  _not-found.txt
  _not-found/__next._full.txt
  _not-found/__next._head.txt
  _not-found/__next._index.txt
  _not-found/__next._not-found.__PAGE__.txt
  _not-found/__next._not-found.txt
  _not-found/__next._tree.txt
  index.html
  index.txt
Due: web-lint

Resolve qualified name once in classify_base
  src/class_diagram/mod.rs
Due: cargo-clippy, cargo-fmt

Path conditions:
  cargo-clippy: any of: \.rs$
  cargo-fmt: any of: \.rs$
  web-lint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
